@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

.glow {
  box-shadow: 0 0 40px rgba(34, 211, 238, 0.3);
}

body {
  cursor: none;
}